{% extends 'base.html' %}

{%  block content %}
<h1>My items</h1>
<table style="line-height:30px;" width="900" border="1" cellpadding="0" cellspacing="0">
    <th>Name</th><th>Type</th><th>Price</th><th>Seller</th><th>LaunchDate</th>
    {% for Item in Items %}
    <tr>
        <td><h3><a href="myitemsdetail/{{Item.IID}}">{{ Item.Name }}</h3></a></td>
        <td><h3>{{ Item.Type }}</h3></td>
        <td><h3>${{ Item.Price }}</h3></td>
        <td><h3>{{ Item.Seller }}</h3></td>
        <td><h3>{{ Item.LaunchDate }}</h3></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}